.search-component {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-box {
  appearance: none;
  border: none;
  outline: none;
  width: 15vw;
  height: 36px;
  border-radius: 5px 0 0 5px;
  padding-left: 1rem;
  font-size: 16px;
  margin: 1rem 0 1rem 1rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.24);
}

.query-box {
  appearance: none;
  border: none;
  outline: none;
  width: 15vw;
  height: 36px;
  border-radius: 0 0 0 0;
  padding-left: 1rem;
  font-size: 16px;
  margin: 1rem 0 1rem 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.24);
}

.search-box:hover, .query-box:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.24),
    0px 0px 8px rgba(0, 0, 0, 0.24);
}
.search-box:focus, .query-box:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.24),
    0px 0px 8px rgba(0, 0, 0, 0.24);
}

.search-btn {
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: #333333;
    border-radius: 0 5px 5px 0 ;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.24);
}
