.venue-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  width: 43vw;
  margin-bottom: 1rem;
}

.venue-container:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 12px rgba(0, 0, 0, 0.1),
    0px 0px 8px rgba(0, 0, 0, 0.14);
}

.venue-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.venue-location,
.venue-category {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.venue-address,
.venue-categoryname {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-left: 0.5rem;
}

.venue-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.venue-save {
  cursor: pointer;
  border: none;
  width: auto;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.24);
}

.venue-save:hover, .venue-similar:hover{
    color: #fff;
    background-color: #333333;
}

.venue-similar {
  cursor: pointer;
  border: none;
  width: auto;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  margin-left: 1rem;
  border-radius: 25px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.24);
} 
